nav {
    background-color: rgb(0, 43, 90);
}

td button, .hidden {
    visibility: hidden;
}

th {
    border-top: transparent !important;
    cursor: pointer;
}

.buffer {
    width: 100%;
    height: 3.5rem;
}

td {
    cursor: pointer;    
}

#searchBar {
    transition: width 500ms;
}

#addFilterBtn{
    transition: width 500ms, color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;;
}